<div class="balon-sueno-container">
  <div class="balon-sueno-content">
    <h2>Crea tu <span class="highlight">balón de ensueño</span></h2>
    <p>Personaliza tu propio balón de baloncesto. Elige colores, añade tu nombre o frase favorita y hazlo único. ¡Deja volar tu imaginación y crea el balón que siempre soñaste!</p>
    <button class="balon-sueno-btn" (click)="irACreacionBalon()">¡Empieza a crear!</button>
  </div>
  <div class="balon-sueno-img">
    <img src="assets/evento4.png" alt="Balón personalizado" />
  </div>
</div>
