/* You can add global styles to this file, and also import other style files */

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}
body {
  overflow-y: auto;
  width: 100vw;
  min-height: 100vh;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
