<h1 class="titulo-historia">NUESTRA HISTORIA</h1>
<div class="home-bg-exclusive"></div>

  <div class="historia-section historia-section-1">
    <img src="assets/nuestahistoria1.png" alt="Fundación de la tienda" class="historia-img izquierda">
    <div class="historia-text derecha fundacion-text">
      <h2>Fundación</h2>
      <p>
        24Seconds nació en 2020 con la pasión de crear un espacio único para los amantes de las zapatillas y la cultura urbana. Desde nuestros inicios, nos propusimos ser más que una tienda: un punto de encuentro para la comunidad, donde la innovación y el estilo se fusionan en cada producto.
      </p>
    </div>
  </div>

  <div class="historia-section historia-section-2">
    <div class="historia-text izquierda fundacion-text">
      <h2>Primeros Pasos</h2>
      <p>
        Comenzamos en un pequeño local, pero gracias al apoyo de nuestros clientes y la dedicación del equipo, pronto nos convertimos en referencia local. Cada evento, cada lanzamiento y cada historia compartida nos ha impulsado a crecer y a seguir soñando en grande.
      </p>
    </div>
    <img src="assets/nuestrahistoria2.png" alt="Inicio de la tienda" class="historia-img derecha">
  </div>

  <div class="historia-section historia-section-1">
    <img src="assets/nuestrahistoria3.png" alt="Fundación de la tienda" class="historia-img izquierda">
    <div class="historia-text derecha fundacion-text">
      <h2>En la Actualidad</h2>
      <p>
        24Seconds nació en 2020 con la pasión de crear un espacio único para los amantes de las zapatillas y la cultura urbana. Desde nuestros inicios, nos propusimos ser más que una tienda: un punto de encuentro para la comunidad, donde la innovación y el estilo se fusionan en cada producto.
      </p>
    </div>
  </div>

  <div class="historia-memorial-btn-container">
    <button class="historia-memorial-btn" (click)="irAMemorial()">Ver memorial</button>
  </div>

  <app-footer></app-footer>


