<div class="votacion-container">
  <div class="votacion-table-wrapper">
    <h2 class="votacion-title">Votación de Zapatillas</h2>
    <table class="votacion-table">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Votar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let zapa of zapatillas">
          <td><img [src]="zapa.images[0]" alt="Imagen zapatilla" class="votacion-img" /></td>
          <td>{{ zapa.name }}</td>
          <td>{{ zapa.price }} €</td>
          <td>
            <button [disabled]="hasVotedToday" (click)="votar(zapa._id)">Votar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="grafica-container">
      <h3>Resultados de la votación</h3>
      <canvas id="votacionChart"></canvas>
    </div>
  </div>
</div>
<app-footer></app-footer>
