<div class="admin-eventos-bg">
  <canvas class="fondo-animado-admin" id="fondoAnimadoEventos"></canvas>
  <div class="admin-eventos-container">
    <h2 class="eventos-title">Eventos en Tienda</h2>
    <ng-container *ngIf="eventos.length > 0">
      <ng-container *ngIf="!(isMobile ?? false)">
        <table class="eventos-table">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Descripción</th>
              <th>Lugar</th>
              <th>Fecha Evento</th>
              <th>Registro</th>
              <th>Proveedor</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let evento of eventosPaginados">
              <td>
                <img *ngIf="evento.img" [src]="evento.img" alt="img" class="evento-img-thumb" />
              </td>
              <td>{{ evento.name }}</td>
              <td>{{ evento.description }}</td>
              <td>{{ evento.location }}</td>
              <td>{{ evento.eventDate | date:'short' }}</td>
              <td>{{ evento.registrationDates?.start | date:'short' }}<br>-<br>{{ evento.registrationDates?.end | date:'short' }}</td>
              <td>{{ evento.proveedor?.empresa || evento.proveedor?.username || '-' }}</td>
              <td>
                <button class="btn-eliminar" (click)="eliminarEvento(evento._id)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="totalPaginas > 1" class="paginacion-eventos">
          <button (click)="cambiarPagina(-1)" [disabled]="paginaActual === 1">Anterior</button>
          <span>Página {{paginaActual}} de {{totalPaginas}}</span>
          <button (click)="cambiarPagina(1)" [disabled]="paginaActual === totalPaginas">Siguiente</button>
        </div>
      </ng-container>
      <ng-container *ngIf="isMobile ?? false">
        <div class="eventos-list-responsive">
          <div *ngFor="let evento of eventosPaginados; let i = index" class="evento-item-responsive">
            <div class="evento-main-row" (click)="toggleExpand(i)">
              <span class="evento-nombre">{{ evento.name }}</span>
              <span class="expand-icon">{{ expandedIndex === i ? '▲' : '▼' }}</span>
            </div>
            <div class="evento-details-responsive" *ngIf="expandedIndex === i">
              <div class="evento-details-content">
                <img *ngIf="evento.img" [src]="evento.img" alt="img" class="evento-img-thumb-responsive" />
                <div class="evento-details-fields">
                  <div><b>Descripción:</b> {{ evento.description }}</div>
                  <div><b>Lugar:</b> {{ evento.location }}</div>
                  <div><b>Fecha Evento:</b> {{ evento.eventDate | date:'short' }}</div>
                  <div><b>Registro:</b> {{ evento.registrationDates?.start | date:'short' }} - {{ evento.registrationDates?.end | date:'short' }}</div>
                  <div><b>Proveedor:</b> {{ evento.proveedor?.empresa || evento.proveedor?.username || '-' }}</div>
                </div>
              </div>
              <button class="btn-eliminar" (click)="eliminarEvento(evento._id)">Eliminar</button>
            </div>
          </div>
        </div>
        <div *ngIf="totalPaginas > 1" class="paginacion-eventos">
          <button (click)="cambiarPagina(-1)" [disabled]="paginaActual === 1">Anterior</button>
          <span>Página {{paginaActual}} de {{totalPaginas}}</span>
          <button (click)="cambiarPagina(1)" [disabled]="paginaActual === totalPaginas">Siguiente</button>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #sinEventos>
      <div style="color:#fff; margin:2rem 0;">No hay eventos en la tienda.</div>
    </ng-template>
  </div>
</div>
