<canvas class="fondo-animado-admin" id="fondoAnimadoAdmin"></canvas>
<div class="admin-productos-container">
  <h2 class="productos-title">Productos en Tienda</h2>
  <ng-container *ngIf="!isMobile">
    <table class="productos-table" *ngIf="productos.length > 0; else sinProductos">
      <thead>
        <tr>
          <th>Imagen</th>
          <th>Nombre</th>
          <th>Marca</th>
          <th>Categoría</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Proveedor</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productosPaginados">
          <td>
            <img *ngIf="producto.images && producto.images.length > 0" [src]="producto.images[0]" alt="img" class="product-img-thumb" />
          </td>
          <td>{{ producto.name }}</td>
          <td>{{ producto.brand }}</td>
          <td>{{ producto.category }}</td>
          <td>{{ producto.price | currency:'EUR' }}</td>
          <td>{{ producto.stock }}</td>
          <td>{{ getProveedorNombre(producto) }}</td>
          <td>
            <button class="btn-eliminar" (click)="eliminarProducto(producto._id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="totalPaginas > 1" class="paginacion-productos">
      <button (click)="cambiarPagina(-1)" [disabled]="paginaActual === 1">Anterior</button>
      <span>Página {{paginaActual}} de {{totalPaginas}}</span>
      <button (click)="cambiarPagina(1)" [disabled]="paginaActual === totalPaginas">Siguiente</button>
    </div>
  </ng-container>
  <ng-container *ngIf="isMobile">
    <div class="productos-list-responsive">
      <div *ngFor="let producto of productosPaginados; let i = index" class="producto-item-responsive">
        <div class="producto-main-row" (click)="toggleExpand(i)">
          <span class="producto-nombre">{{ producto.name }}</span>
          <span class="expand-icon">{{ expandedIndex === i ? '▲' : '▼' }}</span>
        </div>
        <div class="producto-details-responsive" *ngIf="expandedIndex === i">
          <div class="producto-details-content">
            <img *ngIf="producto.images && producto.images.length > 0" [src]="producto.images[0]" alt="img" class="producto-img-thumb-responsive" />
            <div class="producto-details-fields">
              <div><b>Marca:</b> {{ producto.brand }}</div>
              <div><b>Categoría:</b> {{ producto.category }}</div>
              <div><b>Precio:</b> {{ producto.price | currency:'EUR' }}</div>
              <div><b>Stock:</b> {{ producto.stock }}</div>
              <div><b>Proveedor:</b> {{ getProveedorNombre(producto) }}</div>
            </div>
          </div>
          <button class="btn-eliminar" (click)="eliminarProducto(producto._id)">Eliminar</button>
        </div>
      </div>
    </div>
    <div *ngIf="totalPaginas > 1" class="paginacion-productos">
      <button (click)="cambiarPagina(-1)" [disabled]="paginaActual === 1">Anterior</button>
      <span>Página {{paginaActual}} de {{totalPaginas}}</span>
      <button (click)="cambiarPagina(1)" [disabled]="paginaActual === totalPaginas">Siguiente</button>
    </div>
  </ng-container>
  <ng-template #sinProductos>
    <div style="color:#fff; margin:2rem 0;">No hay productos en la tienda.</div>
  </ng-template>
</div>
