<div class="historia-float-card">
  <h2 class="historia-title">NUESTRA HISTORIA</h2>
  <p class="historia-text">
    24Seconds nació de la pasión por el baloncesto y la tecnología. Un grupo de amigos, cansados de la falta de plataformas modernas para gestionar eventos y sorteos deportivos, decidió crear una solución innovadora. Así surgió 24Seconds, una comunidad donde la emoción del deporte y la facilidad digital se unen para ofrecer la mejor experiencia a jugadores, organizadores y fans.
  </p>
  <button class="historia-btn" (click)="irAHistoria()">Saber más</button>
</div>
