<div class="home-bg-exclusive"></div>
<div class="formulario-zapaideal-container">
  <div *ngIf="!showResult">
    <div class="zapaideal-progress-bar">
      <div class="zapaideal-progress" [style.width]="((preguntaActual+1)/preguntas.length*100)+'%'" ></div>
    </div>
    <h1 class="zapaideal-title">{{ preguntas[preguntaActual].texto }}</h1>
    <p class="zapaideal-sub">Selecciona una opción</p>
    <div class="zapaideal-opciones">
      <button *ngFor="let opcion of preguntas[preguntaActual].opciones"
              [class.selected]="respuestas[preguntaActual] === opcion"
              (click)="seleccionarOpcion(opcion)"
              class="zapaideal-opcion-btn">
        {{ opcion }}
      </button>
    </div>
    <button *ngIf="preguntaActual < preguntas.length - 1" class="zapaideal-siguiente-btn" (click)="siguientePregunta()" [disabled]="!respuestas[preguntaActual]">SIGUIENTE</button>
    <button *ngIf="preguntaActual === preguntas.length - 1" class="zapaideal-siguiente-btn" (click)="finalizarTest()" [disabled]="!respuestas[preguntaActual]">FINALIZAR</button>
  </div>
  <div *ngIf="showResult" class="zapaideal-resultado">
    <div class="zapaideal-confetti-animation" id="confetti-canvas"></div>
    <h2 class="zapaideal-resultado-title">¡Tu zapatilla ideal es!</h2>
    <div class="zapaideal-tarjeta-resultado" *ngIf="zapatillaIdeal; else sinZapatilla">
      <div class="zapatilla-card zapaideal-card-resultado"
           (mouseenter)="hoverResultado = true"
           (mouseleave)="hoverResultado = false">
        <div class="zapatilla-img-wrapper">
          <img
            *ngIf="zapatillaIdeal.images && zapatillaIdeal.images.length > 0"
            [src]="zapatillaIdeal.images[mainImageIndex || 0]"
            alt="Imagen zapatilla"
            class="zapatilla-img"
          />
        </div>
        <div class="zapatilla-thumbnails" *ngIf="zapatillaIdeal.images && zapatillaIdeal.images.length > 1 && hoverResultado">
          <img
            *ngFor="let img of zapatillaIdeal.images; let imgIdx = index"
            [src]="img"
            alt="Miniatura zapatilla"
            class="zapatilla-thumbnail"
            [class.selected]="mainImageIndex === imgIdx"
            (click)="setMainImage(imgIdx)"
            style="cursor:pointer"
          />
        </div>
        <div class="zapatilla-info" style="color:#fff; text-align:center;">
          <div class="zapatilla-nombre">{{ zapatillaIdeal.name }}</div>
          <div class="zapatilla-marca">Marca: {{ zapatillaIdeal.brand }}</div>
          <div class="zapatilla-precio">{{ zapatillaIdeal.price }} €</div>
        </div>
        <div class="zapatilla-cart-btn-wrapper" *ngIf="hoverResultado">
          <button class="zapatilla-cart-btn" (click)="addToCart(zapatillaIdeal._id)">Añadir al carrito</button>
        </div>
      </div>
    </div>
    <ng-template #sinZapatilla>
      <p>No se encontró una zapatilla ideal para tus preferencias.</p>
    </ng-template>
  </div>
</div>
