<div class="zapa-ideal-card">
  <div class="zapa-ideal-info">
    <h1>ENCUENTRA<br>TUS ZAPAS <span class="zapa-ideal-basket">IDEALES</span></h1>
    <p>
      Encuentra tus zapatillas perfectas con nuestro configurador personalizado. Selecciona tus preferencias y descubre una amplia gama de opciones que se adaptan a tu estilo, comodidad y rendimiento.<br>
    </p>
    <button class="zapa-ideal-btn">¡VAMOS!</button>
  </div>
  <div class="zapa-ideal-img-container">
    <img src="assets/zapaideal.png" alt="Zapatilla ideal" class="zapa-ideal-img" />
  </div>
</div>
